<div class="div_body">
  <div class="main_swipper">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="img_div">
            <img src="pic1.png" alt="" srcset="" />
          </div>
          <div class="text_content">
            <div class="h1_golf">
              <h1>Round of Golf</h1>
            </div>
            <div class="rating">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="90"
                height="15"
                viewBox="0 0 120 24"
                fill="none"
                stroke="none"  
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  fill="#FF385C"
                />
                <polygon
                  points="36 2 39.09 8.26 46 9.27 41 14.14 42.18 21.02 36 17.77 29.82 21.02 31 14.14 26 9.27 32.91 8.26 36 2"
                  fill="#FF385C"
                />
                <polygon
                  points="60 2 63.09 8.26 70 9.27 65 14.14 66.18 21.02 60 17.77 53.82 21.02 55 14.14 50 9.27 56.91 8.26 60 2"
                  fill="#FF385C"
                />
                <polygon
                  points="84 2 87.09 8.26 94 9.27 89 14.14 90.18 21.02 84 17.77 77.82 21.02 79 14.14 74 9.27 80.91 8.26 84 2"
                  fill="#FF385C"
                />
                <polygon
                  points="108 2 111.09 8.26 118 9.27 113 14.14 114.18 21.02 108 17.77 101.82 21.02 103 14.14 98 9.27 104.91 8.26 108 2"
                  fill="#FF385C"
                />
              </svg>
              
              <p>5.0</p>
            </div>
            <div class="txt">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat<span [ngStyle]="{'color': 'red'}">...read more</span>
              </p>
            </div>
            <div class="txt_tlg">
              <div class="dt">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-calendar"
                >
                  <path d="M8 2v4" />
                  <path d="M16 2v4" />
                  <rect width="18" height="18" x="3" y="4" rx="2" />
                  <path d="M3 10h18" />
                </svg>
                <p>Nov 10, 10:30 AM - Nov 29. 6:30 PM</p>
              </div>
              <div class="city">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin"
                >
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                  />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                <p>Sindalah City</p>
              </div>
              <div class="golf">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-land-plot"
                >
                  <path d="m12 8 6-3-6-3v10" />
                  <path
                    d="m8 11.99-5.5 3.14a1 1 0 0 0 0 1.74l8.5 4.86a2 2 0 0 0 2 0l8.5-4.86a1 1 0 0 0 0-1.74L16 12"
                  />
                  <path d="m6.49 12.85 11.02 6.3" />
                  <path d="M17.51 12.85 6.5 19.15" />
                </svg>
                <p>Golf</p>
              </div>
            </div>
            <div class="emoji">
              <div class="emoji_l">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-laugh"
                >
                  <circle cx="12" cy="12" r="10" />
                  <path d="M18 13a6 6 0 0 1-6 5 6 6 0 0 1-6-5h12Z" />
                  <line x1="9" x2="9.01" y1="9" y2="9" />
                  <line x1="15" x2="15.01" y1="9" y2="9" />
                </svg>
                <p>Overwhelmed vibes are coming here</p>
              </div>
              <div class="emoji_r">
                <p>Scheduled</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="img_div">
            <img src="pic1.png" alt="" srcset="" />
          </div>
          <div class="text_content">
            <div class="h1_golf">
              <h1>Round of Golf</h1>
            </div>
            <div class="rating">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="90"
                height="15"
                viewBox="0 0 120 24"
                fill="none"
                stroke="none"  
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  fill="#FF385C"
                />
                <polygon
                  points="36 2 39.09 8.26 46 9.27 41 14.14 42.18 21.02 36 17.77 29.82 21.02 31 14.14 26 9.27 32.91 8.26 36 2"
                  fill="#FF385C"
                />
                <polygon
                  points="60 2 63.09 8.26 70 9.27 65 14.14 66.18 21.02 60 17.77 53.82 21.02 55 14.14 50 9.27 56.91 8.26 60 2"
                  fill="#FF385C"
                />
                <polygon
                  points="84 2 87.09 8.26 94 9.27 89 14.14 90.18 21.02 84 17.77 77.82 21.02 79 14.14 74 9.27 80.91 8.26 84 2"
                  fill="#FF385C"
                />
                <polygon
                  points="108 2 111.09 8.26 118 9.27 113 14.14 114.18 21.02 108 17.77 101.82 21.02 103 14.14 98 9.27 104.91 8.26 108 2"
                  fill="#FF385C"
                />
              </svg>
              
              <p>5.0</p>
            </div>
            <div class="txt">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat<span [ngStyle]="{'color': 'red'}"
                >...read more</span>
              </p>
            </div>
            <div class="txt_tlg">
              <div class="dt">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-calendar"
                >
                  <path d="M8 2v4" />
                  <path d="M16 2v4" />
                  <rect width="18" height="18" x="3" y="4" rx="2" />
                  <path d="M3 10h18" />
                </svg>
                <p>Nov 10, 10:30 AM - Nov 29. 6:30 PM</p>
              </div>
              <div class="city">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin"
                >
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                  />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                <p>Sindalah City</p>
              </div>
              <div class="golf">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-land-plot"
                >
                  <path d="m12 8 6-3-6-3v10" />
                  <path
                    d="m8 11.99-5.5 3.14a1 1 0 0 0 0 1.74l8.5 4.86a2 2 0 0 0 2 0l8.5-4.86a1 1 0 0 0 0-1.74L16 12"
                  />
                  <path d="m6.49 12.85 11.02 6.3" />
                  <path d="M17.51 12.85 6.5 19.15" />
                </svg>
                <p>Golf</p>
              </div>
            </div>
            <div class="emoji">
              <div class="emoji_l">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-laugh"
                >
                  <circle cx="12" cy="12" r="10" />
                  <path d="M18 13a6 6 0 0 1-6 5 6 6 0 0 1-6-5h12Z" />
                  <line x1="9" x2="9.01" y1="9" y2="9" />
                  <line x1="15" x2="15.01" y1="9" y2="9" />
                </svg>
                <p>Overwhelmed vibes are coming here</p>
              </div>
              <div class="emoji_r">
                <p>Scheduled</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="img_div">
            <img src="pic1.png" alt="" srcset="" />
          </div>
          <div class="text_content">
            <div class="h1_golf">
              <h1>Round of Golf</h1>
            </div>
            <div class="rating">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="90"
                height="15"
                viewBox="0 0 120 24"
                fill="none"
                stroke="none"  
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  fill="#FF385C"
                />
                <polygon
                  points="36 2 39.09 8.26 46 9.27 41 14.14 42.18 21.02 36 17.77 29.82 21.02 31 14.14 26 9.27 32.91 8.26 36 2"
                  fill="#FF385C"
                />
                <polygon
                  points="60 2 63.09 8.26 70 9.27 65 14.14 66.18 21.02 60 17.77 53.82 21.02 55 14.14 50 9.27 56.91 8.26 60 2"
                  fill="#FF385C"
                />
                <polygon
                  points="84 2 87.09 8.26 94 9.27 89 14.14 90.18 21.02 84 17.77 77.82 21.02 79 14.14 74 9.27 80.91 8.26 84 2"
                  fill="#FF385C"
                />
                <polygon
                  points="108 2 111.09 8.26 118 9.27 113 14.14 114.18 21.02 108 17.77 101.82 21.02 103 14.14 98 9.27 104.91 8.26 108 2"
                  fill="#FF385C"
                />
              </svg>
              
              <p>5.0</p>
            </div>
            <div class="txt">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat <span [ngStyle]="{'color': 'red'}">...read more</span>

              </p>
            </div>
            <div class="txt_tlg">
              <div class="dt">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-calendar"
                >
                  <path d="M8 2v4" />
                  <path d="M16 2v4" />
                  <rect width="18" height="18" x="3" y="4" rx="2" />
                  <path d="M3 10h18" />
                </svg>
                <p>Nov 10, 10:30 AM - Nov 29. 6:30 PM</p>
              </div>
              <div class="city">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin"
                >
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                  />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                <p>Sindalah City</p>
              </div>
              <div class="golf">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-land-plot"
                >
                  <path d="m12 8 6-3-6-3v10" />
                  <path
                    d="m8 11.99-5.5 3.14a1 1 0 0 0 0 1.74l8.5 4.86a2 2 0 0 0 2 0l8.5-4.86a1 1 0 0 0 0-1.74L16 12"
                  />
                  <path d="m6.49 12.85 11.02 6.3" />
                  <path d="M17.51 12.85 6.5 19.15" />
                </svg>
                <p>Golf</p>
              </div>
            </div>
            <div class="emoji">
              <div class="emoji_l">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-laugh"
                >
                  <circle cx="12" cy="12" r="10" />
                  <path d="M18 13a6 6 0 0 1-6 5 6 6 0 0 1-6-5h12Z" />
                  <line x1="9" x2="9.01" y1="9" y2="9" />
                  <line x1="15" x2="15.01" y1="9" y2="9" />
                </svg>
                <p>Overwhelmed vibes are coming here</p>
              </div>
              <div class="emoji_r">
                <p>Scheduled</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="img_div">
            <img src="pic1.png" alt="" srcset="" />
          </div>
          <div class="text_content">
            <div class="h1_golf">
              <h1>Round of Golf</h1>
            </div>
            <div class="rating">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="90"
                height="15"
                viewBox="0 0 120 24"
                fill="none"
                stroke="none"  
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  fill="#FF385C"
                />
                <polygon
                  points="36 2 39.09 8.26 46 9.27 41 14.14 42.18 21.02 36 17.77 29.82 21.02 31 14.14 26 9.27 32.91 8.26 36 2"
                  fill="#FF385C"
                />
                <polygon
                  points="60 2 63.09 8.26 70 9.27 65 14.14 66.18 21.02 60 17.77 53.82 21.02 55 14.14 50 9.27 56.91 8.26 60 2"
                  fill="#FF385C"
                />
                <polygon
                  points="84 2 87.09 8.26 94 9.27 89 14.14 90.18 21.02 84 17.77 77.82 21.02 79 14.14 74 9.27 80.91 8.26 84 2"
                  fill="#FF385C"
                />
                <polygon
                  points="108 2 111.09 8.26 118 9.27 113 14.14 114.18 21.02 108 17.77 101.82 21.02 103 14.14 98 9.27 104.91 8.26 108 2"
                  fill="#FF385C"
                />
              </svg>
              
              <p>5.0</p>
            </div>
            <div class="txt">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat<span [ngStyle]="{'color': 'red'}">...read more</span>
              </p>
            </div>
            <div class="txt_tlg">
              <div class="dt">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-calendar"
                >
                  <path d="M8 2v4" />
                  <path d="M16 2v4" />
                  <rect width="18" height="18" x="3" y="4" rx="2" />
                  <path d="M3 10h18" />
                </svg>
                <p>Nov 10, 10:30 AM - Nov 29. 6:30 PM</p>
              </div>
              <div class="city">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin"
                >
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                  />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                <p>Sindalah City</p>
              </div>
              <div class="golf">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-land-plot"
                >
                  <path d="m12 8 6-3-6-3v10" />
                  <path
                    d="m8 11.99-5.5 3.14a1 1 0 0 0 0 1.74l8.5 4.86a2 2 0 0 0 2 0l8.5-4.86a1 1 0 0 0 0-1.74L16 12"
                  />
                  <path d="m6.49 12.85 11.02 6.3" />
                  <path d="M17.51 12.85 6.5 19.15" />
                </svg>
                <p>Golf</p>
              </div>
            </div>
            <div class="emoji">
              <div class="emoji_l">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-laugh"
                >
                  <circle cx="12" cy="12" r="10" />
                  <path d="M18 13a6 6 0 0 1-6 5 6 6 0 0 1-6-5h12Z" />
                  <line x1="9" x2="9.01" y1="9" y2="9" />
                  <line x1="15" x2="15.01" y1="9" y2="9" />
                </svg>
                <p>Overwhelmed vibes are coming here</p>
              </div>
              <div class="emoji_r">
                <p>Scheduled</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination">
      <div class="swiper-but-next" (click)="nextSlide()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-right"
        >
          <path d="M5 12h14" />
          <path d="m12 5 7 7-7 7" />
        </svg>
      </div>
      <div class="swiper-but-prev" (click)="prevSlide()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-left"
        >
          <path d="m12 19-7-7 7-7" />
          <path d="M19 12H5" />
        </svg>
      </div>
    </div>
  </div>
</div>
